#canvas {
  width: 100%;
  height: 340px;
  overflow: hidden;
}
.el {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}
.debug {
  border: 2px solid rgba(255,255,255,1);
  border-radius: 4px;
  padding: 10px;
  margin-left: -12px;
  margin-top: -12px;
  background-color: rgba(0,0,0,0.3);
}
.bg {
  background-image: url(/assets/rxgame/bg.png);
  background-size: auto 340px;
  background-repeat: repeat-x;
  width: 200%;
  height: 340px;
}
.hero {
  background-image: url(http://iconstrategiesbpo.com/assets/images/iconsmanrun-orig.gif);
  background-size: 60px;
  width: 60px;
  height: 60px;
}
.cat {
  background-image: url(http://vignette3.wikia.nocookie.net/nyancat/images/5/5b/Balloon_Cat.gif/revision/latest?cb=20120824205049);
  background-size: 46px 80px;
  width: 46px;
  height: 80px;
  transform:scaleX(-1);
}